.gallery{
  display: flex;
  flex-wrap: wrap;

}

.gallery-item{
  width: 250px;
  flex-grow: 1;
  height: $gallery-item-height;
  margin-bottom: 3px;
  .item-img{
    position: relative;
    height: $gallery-item-height;
    width: 100%;
    background-color: honeydew;
  }
  .item-summary{
    opacity: 0;
    height: $gallery-item-height;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity .5s ease;
  }
  &:hover{
    .item-summary{
      opacity: 1;
    }
  }
}
