.hero{
  background-color: $hero-bg-color;
  background-image: url('../img/streetbattle.jpg');
  background-size: cover;
  background-position: 50% 39%;
  color: $white;
  padding: $hero-padding;
  height: $hero-height;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  overflow: hidden;
  padding-top: 4vh;
  *{
    z-index: 2;
  }
  .descriptors{
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    h2{
      font-size: 2.3em;
      font-weight: 200;
      background-color: rgba(0, 0, 0, .5);
      padding: $hero-padding / 3;
    }
  }
  .name-display{
    align-self: flex-end;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    h1{
      font-family: 'Fjalla One', sans-serif;
      text-transform: capitalize;
      font-size: 10vh;
      margin-top: -6vh;
      // letter-spacing: 3px;
      // padding-left: 10px;
      &:first-letter{
        font-size: 1.7em;
        font-weight: 300;
        // letter-spacing: -2px;
      }
    }
  }

  &:after{
    position: absolute;
    z-index: 1;
    content: '';
    height: 150vh;
    width: 300vw;
    border-radius: 100%;
    background-color: rgba(130, 130, 130, 0.35);
    top: 1vh;
    left: -3vh;
  }
}
