.main{
  background-color: $black;
  height: 32vh;
  display: flex;
  padding: $hero-padding;
  margin-bottom: 2vh;

  .big-words{
    padding-top: $big-words-y-pad;
    padding-bottom: $big-words-y-pad;
    flex-basis: 160px;
    flex-grow: 1;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    h1{
      color: peachpuff;
      font-size: 3em;
    }
  }
  .about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 3;
    flex-shrink: 1;
    align-items: center;
    padding-left: 1em;
    padding-right: 1em;
    line-height: 1.3em;
    p{
      font-weight: 100;
      font-size: 20px;
    }
    .name{
      color: orange;
    }
  }
}

@media #{$tablet} {
  .main .big-words{
    display: flex;
  }
}
