//BASE STYLES
$body-bg: #777;

//COLORS
$white: ivory;
$black: #111;
//HERO
$hero-bg-color: #555;
$hero-padding: 0.4em;
$hero-height: calc(60vh - #{$hero-padding} * 2);

//MAIN
$main-height: calc(40vh - #{$hero-padding} * 2);
$big-words-y-pad: 3vh;

//GALLERY
$gallery-item-height: 250px;

$gallery-images:
  url('../img/flexdice.png'),
  url('../img/cthulhu.png'),
  url('../img/divdog.png'),
  url('../img/mintyfresh.png'),
  url('../img/arcticwild.png'),
  url('../img/encabulator.png');

//COMPONENTS
$content-max-width: 1200px;

//MEDIA QUERY BREAK-POINTS
$mobile-landscape: 'screen and (min-width: 500px)';
$tablet: 'screen and (min-width: 768px)';
$laptop: 'screen and (min-width: 1024)';
