//BASE STYLES
$body-bg: #777;

//COLORS
$white: ivory;
$black: #111;
//HERO
$hero-bg-color: #555;
$hero-padding: 0.4em;
$hero-height: calc(60vh - #{$hero-padding} * 2);

//MAIN
$main-height: calc(40vh - #{$hero-padding} * 2);
$big-words-y-pad: 3vh;

//COMPONENTS
$content-max-width: 1200px;
