//BASE STYLES
$body-bg: #777;

//COLORS
$white: ivory;
$black: #111;
//HERO
$hero-bg-color: #555;
$hero-padding: 0.4em;
$hero-height: 60vh;

//MAIN
$main-height: 40vh;

//COMPONENTS
$content-max-width: 1200px;
